@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

.text-gradient {
  background: linear-gradient(90deg, #ffa726, #fb8c00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* Hide scrollbar for Chrome, Safari and Opera */
*/ .scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.ovaerlap {
  position: relative;
  z-index: 2; /* Ensure content is above the canvas */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: aliceblue;
}
